<h1 class="mb-4">{{ 'api_specs' | translate(lang) }}</h1>

{% if collections.apiSpecs and collections.apiSpecs.length %}
    <div class="list-group">
        {% for spec in collections.apiSpecs %}
            <a
                    class="list-group-item list-group-item-action"
                    href="{{ ('/' ~ lang ~ '/api/' ~ spec.fileSlug ~ '/') | url }}"
            >
                {{ spec.data.info.title or spec.fileSlug }}
            </a>
        {% endfor %}
    </div>
{% else %}
    <p class="text-muted">{{ 'no_specs' | translate(lang) }}</p>
{% endif %}
