---
pagination:
  data: collections.apiSpecs
  size: 1
  alias: spec

permalink: "api/{{ spec.fileSlug }}/index.html"
layout: default

eleventyComputed:
title: "{{ spec.data.info.title }}"
---

<div id="swagger-ui"></div>
<script src="/lib4ui/swagger-ui-bundle.js"></script>
<script src="/lib4ui/swagger-ui-standalone-preset.js"></script>
<script>
    SwaggerUIBundle({
        url: "{{ ('/content/technical_specs/' + spec.fileSlug + '.yaml') | url }}",
        dom_id: "#swagger-ui",
        deepLinking: true,
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
        ]
    });
</script>
