---
layout: false
permalink: /
---

{# Build the correct language root URL, respecting pathPrefix #}
{% set langRoot = ('/' ~ site.defaultLang ~ '/') | url %}

<meta http-equiv="refresh" content="0; url={{ langRoot }}">
<link rel="canonical" href="{{ langRoot }}">
<noscript>
    <a href="{{ langRoot }}">Go to default language</a>
</noscript>
