---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
layout: false
---

[
{% for item in searchIndex %}
    {
    "lang": "{{ item.lang }}",
    "type": "{{ item.type }}",
    "id": "{{ item.id }}",
    "title": {{ item.title | dump | safe }},
    "url": "{{ item.hrefPath | url }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
]
